@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-family: 'Roboto';
    background:url('http://www.spanik.com/uploads/_work/id78/profile-RET.gif') repeat-y 100% 100% fixed;
    width:100%;
}

body {
    height:100%;
}

